:root{
    --bg-color:#FEF8F3;
    --bg-alt-color:#CB2E17;
    --article-title-color:rgba( 254,248,243, 0.5);
    --article-bg-title-color-trasp:rgba(203,46,23,0.5);
    --border-color:#CB2E17;
    --header-color:#CB2E17;
    --header-color-alt:whitesmoke;
    --text-color: #333;

}

/* Mobile (default) */
body{
    color:var(--text-color);
}

h1,h2,h3,h4,h5,h6{
    color:var(--header-color);
}

.bg{
    background-color: var(--bg-color);
}

.bg-alt{
    background-color:var(--bg-alt-color);
    color:whitesmoke;
}

.bg-alt h1{
    color:var(--bg-color);
}


.grid{
    display:grid;
}

.flex{
    display:flex;
    flex-direction: column;
}

.row{
    flex-direction: column;
}
.row-reverse{
    flex-direction:row-reverse;
}
.v-center{
    align-items: center;
}


.section{
    flex-wrap:wrap;
    
}
.text-large{
    font-size:1.5rem;
}

.article{
    overflow:hidden;
    padding:4rem;
    flex:1;
}

.article-text{
    font-size:1.24rem;

}

.article-image{
    width:100%;
}

.article-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    max-height:576px;
}

.article-price{
    background:var(--bg-alt-color);
    display:block;
    width:200px;
    padding:1rem;
    text-align: center;
    border-radius:5px;
    margin-top:3rem;
}
.article-price h6{
    color:var(--bg-color);
    margin:0;
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.bg-alt .article-price{
    background: var(--bg-color);
    color:var(--bg-alt-color);
}

.bg-alt .article-price h6{
    color:var(--bg-alt-color);
}

/* Tablet */
@media (min-width: 768px) {  
  
}

/* Laptop */
@media (min-width: 992px) {
    
   


 }

/* Desktop */
@media (min-width: 1200px) { 
    .article-image{
        width:auto;
    }
    .row{
        flex-direction:row;
    }
 }
