:root{
    --primary-color:#FEF8F3;
    --secondary-color:#CB2E17;
   
    --text-color: #333;

}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable range */
  font-style: normal;
}

body{
    color:var(--text-color);
}


h1{
    font-family: 'Roboto Slab', serif;
    font-weight:700;

}
section{

    
}

.text{
    padding:4rem;
    font-size:1.5rem;
}
.flex{

    display:flex;
    flex-direction: column;
}

.bg{
    background-color: var(--primary-color);
}

.bg-alt{
    background-color: var(--secondary-color);
    color:var(--primary-color);
}

.h-center{
    justify-items: center;
}

.v-center{
    align-items: center;
}

.logo{
    width:200px;
    height:auto;
    margin:1rem 2rem;
}

.price.bg{
    color: var(--secondary-color);
}
.price.bg-alt{
    color:var(--primary-color)
}
.price{
   
    
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: inline-block;
}
.price h6{
    margin: 0;
    font-size:2rem;
    font-weight:700;
}
/* Tablet */
@media (min-width: 768px) {  
  
}

/* Laptop */
@media (min-width: 992px) {
    
   


 }

/* Desktop */
@media (min-width: 1200px) { 
    
   .flex{
        flex-direction: row;
   }

   .reverse{
       flex-direction: row-reverse;
   }
   img{
       max-width:768px;
   }
